<!DOCTYPE HTML>
<html lang="en-EN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="Author" content="Natalia Pasturczak"/>
    <meta name="keywords" content="wampiriada"/>
    <meta name="description" content="Wampiriada 2019"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--sposób wyświetlania na urządzeniach mobilnych-->
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title> Wampiriada </title>
</head>
<body>
<a href="logout" class="btn btn-danger">Wyloguj</a>
<a href="losowanie" class="btn btn-info">Losowanie</a>
<div id="main">
    <h1> Wampiriada 2019 </h1>
    <h3> Nagrody do wylosowania: </h3>
    <div th:unless="${#lists.isEmpty(nagrody)}">
        <table id="table" class="table" style="width: 30%" border="1" align="center">
            <tr>
                <th class="text-center">Nagrody</th>
            </tr>
            <dl th:each="user : ${nagrody}">
                <tr>
                    <td align="center"><span th:text="${user}"></span></td>
                </tr>
            </dl>
        </table>
    </div>
    <h3> Zostały już wylosowane: </h3>
    <div th:unless="${#lists.isEmpty(wylosowane)}">
        <table id="table1" class="table" style="width: 30%" border="1" align="center">
            <tr>
                <th class="text-center">Nagrody</th>
            </tr>
            <dl th:each="user1 : ${wylosowane}">
                <tr>
                    <td align="center"><span th:text="${user1}"></span></td>
                </tr>
            </dl>
        </table>
    </div>
</div>
</body>
</html>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">

</script>